# Task 1: Classify Options Data into Expiry Dates

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
df=pd.read_excel("/kaggle/input/stock-market-data/Sample StockMarket Data.xlsx",dtype={'Unnamed: 1':str})

In [3]:
df. columns=df. iloc[0]
df.drop(0,axis=0,inplace=True)
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
1,BANKNIFTY01APR2130600CE.NFO,2021-03-01 00:00:00,14:39:59,5057.2,5065,5057.2,5065,50,48000
2,BANKNIFTY01APR2130600CE.NFO,2021-03-01 00:00:00,15:09:59,5065,5065,4604.95,4604.95,25,48000
3,BANKNIFTY01APR2130700CE.NFO,2021-03-01 00:00:00,15:00:59,4855,4860,4855,4860,100,48000
4,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750
5,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750
...,...,...,...,...,...,...,...,...,...
82861,BANKNIFTY-III.NFO,2021-03-01 00:00:00,15:20:59,35555,35555,35500,35500,100,292500
82862,BANKNIFTY-III.NFO,2021-03-01 00:00:00,15:23:59,35500,35514.05,35500,35514.05,25,292525
82863,BANKNIFTY-III.NFO,2021-03-01 00:00:00,15:24:59,35514.05,35514.05,35514.05,35514.05,50,292525
82864,BANKNIFTY-III.NFO,2021-03-01 00:00:00,15:25:59,35514.05,35546.55,35514.05,35546.55,25,292475
82865,BANKNIFTY-III.NFO,2021-03-01 00:00:00,15:29:59,35546.55,35546.55,35543,35545,75,292450

In [4]:
df.isnull().sum()

0
Ticker           0
Date             0
Time             0
Open             0
High             0
Low              0
Close            0
Volume           0
Open Interest    0
dtype: int64

In [5]:
df["Expiry_date"]=df["Ticker"].iloc[:3]

In [6]:
df.sort_values(by="Time",inplace=True)

In [7]:
!pip install datetime
from datetime import datetime

Collecting datetime
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 2.6 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (241 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 241.5/241.5 kB 6.5 MB/s eta 0:00:00
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (from datetime) (2022.7.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from zope.interface->datetime) (59.8.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.1 zope.interface-6.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [8]:
df['Expiry_date'] = df['Ticker'].str.extract('(\d{2}[A-Z]{3}\d{2})', expand=False)

In [9]:
df.fillna("No_Expiry_Date")
df['Date']=df['Date'].astype(str)
df['Time']=df['Time'].astype(str)
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [10]:
df = df.groupby('Expiry_date').apply(lambda x: x.reset_index(drop=True))


df

0                                      Ticker                 Date      Time  \
Expiry_date
01APR21     0     BANKNIFTY01APR2131500PE.NFO  2021-03-01 00:00:00  10:37:59
            1     BANKNIFTY01APR2130700PE.NFO  2021-03-01 00:00:00  14:14:59
            2     BANKNIFTY01APR2130700PE.NFO  2021-03-01 00:00:00  14:15:59
            3     BANKNIFTY01APR2130700PE.NFO  2021-03-01 00:00:00  14:16:59
            4     BANKNIFTY01APR2131400CE.NFO  2021-03-01 00:00:00  14:27:59
...                                       ...                  ...       ...
29APR21     1161  BANKNIFTY29APR2140000CE.NFO  2021-03-01 00:00:00  15:29:59
            1162  BANKNIFTY29APR2136000PE.NFO  2021-03-01 00:00:00  15:29:59
            1163  BANKNIFTY29APR2138000CE.NFO  2021-03-01 00:00:00  15:29:59
            1164  BANKNIFTY29APR2139000CE.NFO  2021-03-01 00:00:00  15:29:59
            1165  BANKNIFTY29APR2129000PE.NFO  2021-03-01 00:00:00  15:29:59

0                   Open    High      Low    Close Volume Open Interest  \
Expiry_date
01APR21     0        200     200      200      200     75         60250
            1      140.6   140.6      137      137   4550         47750
            2        137   143.6      137      140   4550         47750
            3        138     138      138      138    925         47750
            4     4215.3    4231   4215.3     4231   4600         60250
...                  ...     ...      ...      ...    ...           ...
29APR21     1161     411   414.9      411    414.9     25          9825
            1162  1981.3  1981.3  1975.95  1975.95     25          4625
            1163     790     790      778      778     25          8900
            1164     565     565    553.4    553.4     25          1475
            1165     204     204      204      204     25          2300

0                Expiry_date            Datetime
Expiry_date
01APR21     0        01APR21 2021-03-01 10:37:59
            1        01APR21 2021-03-01 14:14:59
            2        01APR21 2021-03-01 14:15:59
            3        01APR21 2021-03-01 14:16:59
            4        01APR21 2021-03-01 14:27:59
...                      ...                 ...
29APR21     1161     29APR21 2021-03-01 15:29:59
            1162     29APR21 2021-03-01 15:29:59
            1163     29APR21 2021-03-01 15:29:59
            1164     29APR21 2021-03-01 15:29:59
            1165     29APR21 2021-03-01 15:29:59

[81944 rows x 11 columns]

# Task 2: 3 minutes, 5 minutes, 15 minutes & 60 minutes interval.

In [11]:
df.set_index('Datetime', inplace=True)
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date
Datetime,,,,,,,,,,
2021-03-01 10:37:59,BANKNIFTY01APR2131500PE.NFO,2021-03-01 00:00:00,10:37:59,200,200,200,200,75,60250,01APR21
2021-03-01 14:14:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750,01APR21
2021-03-01 14:15:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750,01APR21
2021-03-01 14:16:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:16:59,138,138,138,138,925,47750,01APR21
2021-03-01 14:27:59,BANKNIFTY01APR2131400CE.NFO,2021-03-01 00:00:00,14:27:59,4215.3,4231,4215.3,4231,4600,60250,01APR21
...,...,...,...,...,...,...,...,...,...,...
2021-03-01 15:29:59,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:29:59,411,414.9,411,414.9,25,9825,29APR21
2021-03-01 15:29:59,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,15:29:59,1981.3,1981.3,1975.95,1975.95,25,4625,29APR21
2021-03-01 15:29:59,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,15:29:59,790,790,778,778,25,8900,29APR21
2021-03-01 15:29:59,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,15:29:59,565,565,553.4,553.4,25,1475,29APR21
2021-03-01 15:29:59,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204,204,204,204,25,2300,29APR21

#3min interval

In [12]:
df_3min = df.resample('3T').last()
df_3min

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date
Datetime,,,,,,,,,,
2021-03-01 09:15:00,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,09:17:59,802.75,819.55,802.75,819.55,25,7400,29APR21
2021-03-01 09:18:00,BANKNIFTY29APR2134000PE.NFO,2021-03-01 00:00:00,09:20:59,1221.65,1221.65,1201.00,1201.00,50,4300,29APR21
2021-03-01 09:21:00,BANKNIFTY29APR2136500PE.NFO,2021-03-01 00:00:00,09:23:59,2469.75,2469.75,2469.75,2469.75,25,100,29APR21
2021-03-01 09:24:00,BANKNIFTY29APR2132000CE.NFO,2021-03-01 00:00:00,09:26:59,4050.00,4050.00,4050.00,4050.00,25,275,29APR21
2021-03-01 09:27:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,09:29:59,865.00,917.45,865.00,917.45,50,3275,29APR21
...,...,...,...,...,...,...,...,...,...,...
2021-03-01 15:18:00,BANKNIFTY29APR2136000CE.NFO,2021-03-01 00:00:00,15:20:59,1436.95,1485.65,1436.95,1485.65,25,6925,29APR21
2021-03-01 15:21:00,BANKNIFTY29APR2132000PE.NFO,2021-03-01 00:00:00,15:23:59,570.00,572.80,570.00,572.80,25,4250,29APR21
2021-03-01 15:24:00,BANKNIFTY29APR2130000PE.NFO,2021-03-01 00:00:00,15:26:59,296.00,296.00,295.00,295.00,25,1050,29APR21
2021-03-01 15:27:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204.00,204.00,204.00,204.00,25,2300,29APR21
2021-03-01 15:30:00,BANKNIFTY25MAR2135600CE.NFO,2021-03-01 00:00:00,15:30:59,1087.70,1087.70,1087.70,1087.70,25,8125,25MAR21

#5min interval

In [13]:
df_5min = df.resample('5T').last()
df_5min

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date
Datetime,,,,,,,,,,
2021-03-01 09:15:00,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,09:19:59,2162.90,2162.90,2162.90,2162.90,50,4800,29APR21
2021-03-01 09:20:00,BANKNIFTY29APR2134000PE.NFO,2021-03-01 00:00:00,09:24:59,1187.00,1195.00,1187.00,1195.00,25,4275,29APR21
2021-03-01 09:25:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,09:29:59,865.00,917.45,865.00,917.45,50,3275,29APR21
2021-03-01 09:30:00,BANKNIFTY29APR2132000PE.NFO,2021-03-01 00:00:00,09:34:59,676.40,697.20,676.40,697.20,25,4250,29APR21
2021-03-01 09:35:00,BANKNIFTY29APR2132000CE.NFO,2021-03-01 00:00:00,09:39:59,4000.00,4000.00,4000.00,4000.00,25,375,29APR21
...,...,...,...,...,...,...,...,...,...,...
2021-03-01 15:10:00,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:14:59,404.05,405.75,404.05,405.75,100,9750,29APR21
2021-03-01 15:15:00,BANKNIFTY29APR2137000PE.NFO,2021-03-01 00:00:00,15:19:59,2600.00,2600.00,2600.00,2600.00,25,2425,29APR21
2021-03-01 15:20:00,BANKNIFTY29APR2135000CE.NFO,2021-03-01 00:00:00,15:24:59,1981.60,1982.30,1981.60,1982.30,25,5475,29APR21
2021-03-01 15:25:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204.00,204.00,204.00,204.00,25,2300,29APR21
2021-03-01 15:30:00,BANKNIFTY25MAR2135600CE.NFO,2021-03-01 00:00:00,15:30:59,1087.70,1087.70,1087.70,1087.70,25,8125,25MAR21

#15min interval

In [14]:
df_15min = df.resample('15T').last()
df_15min

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date
Datetime,,,,,,,,,,
2021-03-01 09:15:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,09:29:59,865.00,917.45,865.00,917.45,50,3275,29APR21
2021-03-01 09:30:00,BANKNIFTY29APR2137500CE.NFO,2021-03-01 00:00:00,09:44:59,953.40,953.40,940.00,940.00,50,675,29APR21
2021-03-01 09:45:00,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,09:59:59,600.00,600.00,598.40,598.40,25,1225,29APR21
2021-03-01 10:00:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,10:14:59,220.05,220.05,220.05,220.05,25,2325,29APR21
2021-03-01 10:15:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,10:29:59,804.25,804.25,804.25,804.25,25,3500,29APR21
2021-03-01 10:30:00,BANKNIFTY29APR2136000CE.NFO,2021-03-01 00:00:00,10:44:59,1580.45,1600.00,1580.45,1600.00,25,6750,29APR21
2021-03-01 10:45:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,10:59:59,201.05,208.95,201.05,208.95,25,2325,29APR21
2021-03-01 11:00:00,BANKNIFTY29APR2138000PE.NFO,2021-03-01 00:00:00,11:14:59,3200.00,3200.00,3200.00,3200.00,25,525,29APR21
2021-03-01 11:15:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,11:29:59,205.10,205.10,205.10,205.10,50,2300,29APR21
2021-03-01 11:30:00,BANKNIFTY29APR2130000PE.NFO,2021-03-01 00:00:00,11:44:59,315.00,315.00,315.00,315.00,100,425,29APR21
2021-03-01 11:45:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,11:59:59,885.30,885.30,885.00,885.00,25,3775,29APR21
2021-03-01 12:00:00,BANKNIFTY29APR2130000PE.NFO,2021-03-01 00:00:00,12:14:59,325.00,325.00,325.00,325.00,100,500,29APR21
2021-03-01 12:15:00,BANKNIFTY29APR2135000CE.NFO,2021-03-01 00:00:00,12:29:59,1873.00,1873.00,1837.50,1837.50,125,5350,29APR21
2021-03-01 12:30:00,BANKNIFTY29APR2137000CE.NFO,2021-03-01 00:00:00,12:44:59,1040.00,1040.00,1036.35,1036.35,25,4850,29APR21
2021-03-01 12:45:00,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,12:59:59,396.00,400.05,396.00,400.05,25,9475,29APR21
2021-03-01 13:00:00,BANKNIFTY29APR2132000PE.NFO,2021-03-01 00:00:00,13:14:59,600.00,604.70,600.00,604.70,25,4275,29APR21
2021-03-01 13:15:00,BANKNIFTY29APR2135000CE.NFO,2021-03-01 00:00:00,13:29:59,1980.00,1980.00,1980.00,1980.00,25,5425,29APR21
2021-03-01 13:30:00,BANKNIFTY29APR2135800PE.NFO,2021-03-01 00:00:00,13:44:59,1938.70,1938.70,1881.45,1881.45,25,75,29APR21
2021-03-01 13:45:00,BANKNIFTY29APR2130000PE.NFO,2021-03-01 00:00:00,13:59:59,310.95,310.95,310.95,310.95,25,1000,29APR21
2021-03-01 14:00:00,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,14:14:59,778.00,778.00,778.00,778.00,250,8250,29APR21
2021-03-01 14:15:00,BANKNIFTY29APR2136000CE.NFO,2021-03-01 00:00:00,14:29:59,1462.45,1462.45,1450.00,1450.00,50,6875,29APR21
2021-03-01 14:30:00,BANKNIFTY29APR2136000CE.NFO,2021-03-01 00:00:00,14:44:59,1492.55,1492.55,1457.40,1457.40,25,6825,29APR21
2021-03-01 14:45:00,BANKNIFTY29APR2135000CE.NFO,2021-03-01 00:00:00,14:59:59,1879.95,1882.10,1879.95,1882.10,25,5475,29APR21
2021-03-01 15:00:00,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:14:59,404.05,405.75,404.05,405.75,100,9750,29APR21
2021-03-01 15:15:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204.00,204.00,204.00,204.00,25,2300,29APR21
2021-03-01 15:30:00,BANKNIFTY25MAR2135600CE.NFO,2021-03-01 00:00:00,15:30:59,1087.70,1087.70,1087.70,1087.70,25,8125,25MAR21

#60min interval

In [15]:
df_60min = df.resample('60T').last()
df_60min

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date
Datetime,,,,,,,,,,
2021-03-01 09:00:00,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,09:59:59,600.00,600.00,598.40,598.40,25,1225,29APR21
2021-03-01 10:00:00,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,10:59:59,201.05,208.95,201.05,208.95,25,2325,29APR21
2021-03-01 11:00:00,BANKNIFTY29APR2133000PE.NFO,2021-03-01 00:00:00,11:59:59,885.30,885.30,885.00,885.00,25,3775,29APR21
2021-03-01 12:00:00,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,12:59:59,396.00,400.05,396.00,400.05,25,9475,29APR21
2021-03-01 13:00:00,BANKNIFTY29APR2130000PE.NFO,2021-03-01 00:00:00,13:59:59,310.95,310.95,310.95,310.95,25,1000,29APR21
2021-03-01 14:00:00,BANKNIFTY29APR2135000CE.NFO,2021-03-01 00:00:00,14:59:59,1879.95,1882.10,1879.95,1882.10,25,5475,29APR21
2021-03-01 15:00:00,BANKNIFTY25MAR2135600CE.NFO,2021-03-01 00:00:00,15:30:59,1087.70,1087.70,1087.70,1087.70,25,8125,25MAR21

In [16]:
df["Flag"] = df['Ticker'].str.extract('([A-Z]{2}\.)', expand=False)
df['Flag'] = df['Flag'].str.slice(stop=-1)
df['Strike_Price'] = df['Ticker'].str.extract('(\d{7})', expand=False)
df['Strike_Price'] = df['Strike_Price'].str.slice(2)

In [17]:
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date,Flag,Strike_Price
Datetime,,,,,,,,,,,,
2021-03-01 10:37:59,BANKNIFTY01APR2131500PE.NFO,2021-03-01 00:00:00,10:37:59,200,200,200,200,75,60250,01APR21,PE,31500
2021-03-01 14:14:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750,01APR21,PE,30700
2021-03-01 14:15:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750,01APR21,PE,30700
2021-03-01 14:16:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:16:59,138,138,138,138,925,47750,01APR21,PE,30700
2021-03-01 14:27:59,BANKNIFTY01APR2131400CE.NFO,2021-03-01 00:00:00,14:27:59,4215.3,4231,4215.3,4231,4600,60250,01APR21,CE,31400
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-01 15:29:59,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:29:59,411,414.9,411,414.9,25,9825,29APR21,CE,40000
2021-03-01 15:29:59,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,15:29:59,1981.3,1981.3,1975.95,1975.95,25,4625,29APR21,PE,36000
2021-03-01 15:29:59,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,15:29:59,790,790,778,778,25,8900,29APR21,CE,38000
2021-03-01 15:29:59,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,15:29:59,565,565,553.4,553.4,25,1475,29APR21,CE,39000
2021-03-01 15:29:59,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204,204,204,204,25,2300,29APR21,PE,29000

In [18]:
import numpy as np
df['Strike_Price']=df['Strike_Price'].astype(int)

In [19]:
df["Expiry_date"]=pd.to_datetime(df["Expiry_date"])

In [20]:
df['y_remain']=(((df['Expiry_date'])-(pd.to_datetime(df['Date']))).dt.days)/365
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date,Flag,Strike_Price,y_remain
Datetime,,,,,,,,,,,,,
2021-03-01 10:37:59,BANKNIFTY01APR2131500PE.NFO,2021-03-01 00:00:00,10:37:59,200,200,200,200,75,60250,2021-04-01,PE,31500,0.084932
2021-03-01 14:14:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750,2021-04-01,PE,30700,0.084932
2021-03-01 14:15:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750,2021-04-01,PE,30700,0.084932
2021-03-01 14:16:59,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:16:59,138,138,138,138,925,47750,2021-04-01,PE,30700,0.084932
2021-03-01 14:27:59,BANKNIFTY01APR2131400CE.NFO,2021-03-01 00:00:00,14:27:59,4215.3,4231,4215.3,4231,4600,60250,2021-04-01,CE,31400,0.084932
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-01 15:29:59,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:29:59,411,414.9,411,414.9,25,9825,2021-04-29,CE,40000,0.161644
2021-03-01 15:29:59,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,15:29:59,1981.3,1981.3,1975.95,1975.95,25,4625,2021-04-29,PE,36000,0.161644
2021-03-01 15:29:59,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,15:29:59,790,790,778,778,25,8900,2021-04-29,CE,38000,0.161644
2021-03-01 15:29:59,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,15:29:59,565,565,553.4,553.4,25,1475,2021-04-29,CE,39000,0.161644
2021-03-01 15:29:59,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204,204,204,204,25,2300,2021-04-29,PE,29000,0.161644

# Task 3(Bonus): Calculate the Implied Volatility

In [21]:
import numpy as np
import pandas as pd
from scipy.stats import norm
from scipy.optimize import minimize_scalar

In [22]:
def bs_call(S, K, T, r, sigma):
    d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    return S * norm.cdf(d1) - K * np.exp(-r * T) * norm.cdf(d2)
def bs_put(S, K, T, r, sigma):
    d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    return K * np.exp(-r * T) * norm.cdf(-d2) - S * norm.cdf(-d1)

def error_function(sigma, S, K, T, r, market_price):
    
    bs_price = bs_call(S, K, T, r, sigma)
    return abs(market_price - bs_price)

def error_functions(sigma, S, K, T, r, market_price):
    
    bs_price = bs_put(S, K, T, r, sigma)
    return abs(market_price - bs_price)

In [23]:
df = df.reset_index(drop=True)
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date,Flag,Strike_Price,y_remain
0,BANKNIFTY01APR2131500PE.NFO,2021-03-01 00:00:00,10:37:59,200,200,200,200,75,60250,2021-04-01,PE,31500,0.084932
1,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750,2021-04-01,PE,30700,0.084932
2,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750,2021-04-01,PE,30700,0.084932
3,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:16:59,138,138,138,138,925,47750,2021-04-01,PE,30700,0.084932
4,BANKNIFTY01APR2131400CE.NFO,2021-03-01 00:00:00,14:27:59,4215.3,4231,4215.3,4231,4600,60250,2021-04-01,CE,31400,0.084932
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81939,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:29:59,411,414.9,411,414.9,25,9825,2021-04-29,CE,40000,0.161644
81940,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,15:29:59,1981.3,1981.3,1975.95,1975.95,25,4625,2021-04-29,PE,36000,0.161644
81941,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,15:29:59,790,790,778,778,25,8900,2021-04-29,CE,38000,0.161644
81942,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,15:29:59,565,565,553.4,553.4,25,1475,2021-04-29,CE,39000,0.161644
81943,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204,204,204,204,25,2300,2021-04-29,PE,29000,0.161644

In [24]:

for index,row in df.iterrows():
 
    S = row['Close']
    K = row['Strike_Price']
    T = row['y_remain']
    r = 0.05  # risk-free interest rate
    market_price = row['Close']
    
    if row['Flag']=="CE":
        implied_vol = minimize_scalar(error_function, args=(S, K, T, r, market_price),
                                      bounds=(0, 2), method='bounded').x
        df.at[index, 'Implied_vol'] = implied_vol
    else:
        implied_vol = minimize_scalar(error_functions, args=(S, K, T, r, market_price),
                                      bounds=(0, 2), method='bounded').x
        df.at[index, 'Implied_vol'] = implied_vol

In [25]:
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest,Expiry_date,Flag,Strike_Price,y_remain,Implied_vol
0,BANKNIFTY01APR2131500PE.NFO,2021-03-01 00:00:00,10:37:59,200,200,200,200,75,60250,2021-04-01,PE,31500,0.084932,1.999996
1,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:14:59,140.6,140.6,137,137,4550,47750,2021-04-01,PE,30700,0.084932,1.999996
2,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:15:59,137,143.6,137,140,4550,47750,2021-04-01,PE,30700,0.084932,1.999996
3,BANKNIFTY01APR2130700PE.NFO,2021-03-01 00:00:00,14:16:59,138,138,138,138,925,47750,2021-04-01,PE,30700,0.084932,1.999996
4,BANKNIFTY01APR2131400CE.NFO,2021-03-01 00:00:00,14:27:59,4215.3,4231,4215.3,4231,4600,60250,2021-04-01,CE,31400,0.084932,1.999996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81939,BANKNIFTY29APR2140000CE.NFO,2021-03-01 00:00:00,15:29:59,411,414.9,411,414.9,25,9825,2021-04-29,CE,40000,0.161644,1.999996
81940,BANKNIFTY29APR2136000PE.NFO,2021-03-01 00:00:00,15:29:59,1981.3,1981.3,1975.95,1975.95,25,4625,2021-04-29,PE,36000,0.161644,0.472142
81941,BANKNIFTY29APR2138000CE.NFO,2021-03-01 00:00:00,15:29:59,790,790,778,778,25,8900,2021-04-29,CE,38000,0.161644,1.999996
81942,BANKNIFTY29APR2139000CE.NFO,2021-03-01 00:00:00,15:29:59,565,565,553.4,553.4,25,1475,2021-04-29,CE,39000,0.161644,1.999996
81943,BANKNIFTY29APR2129000PE.NFO,2021-03-01 00:00:00,15:29:59,204,204,204,204,25,2300,2021-04-29,PE,29000,0.161644,1.236072